<div class="row justify-content-center">
    <div class="col">
        <div class="row m-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5>New Hangout</h5>
                            <button class="btn btn-dark float-right" [disabled]="!this.hangoutForm.valid" (click)="createNewHangout()">Add <i class="bi bi-plus-lg"></i></button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <form *ngIf="!loading" [formGroup]="hangoutForm">
                            <div class="row m-3">
                                <div class="col-6">
                                    <label for="name" class="mb-1">Name</label>
                                    <input placeholder="Enter your hangout name" type="text" formControlName="name" class="form-control"/>
                                </div>
                                <div class="col-6">
                                    <label for="location" class="mb-1">Location</label>
                                    <input type="text" placeholder="Enter location of the hangout" formControlName="location" class="form-control"/>
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="description" class="mb-1">Description</label>
                                    <textarea type="text" formControlName="description" class="form-control"> </textarea>
                                </div>
                                <div class="col-6 m-3">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Current Hangouts
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <p  *ngIf="!(activeHangouts$|async)?.length">No past hangouts</p>
                        </div>
                        <ul class="list-group list-group-flush" *ngIf="(activeHangouts$|async)?.length">
                            <li *ngFor="let hangout of (activeHangouts$|async)" class="list-group-item">
                              <a href="/" class="btn btn-outline-dark btn-block">{{hangout?.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Past Hangouts
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <p  *ngIf="!(pastHangouts$|async)?.length">No past hangouts</p>
                        </div>
                        <ul class="list-group list-group-flush" *ngIf="(pastHangouts$|async)?.length">
                            <li *ngFor="let hangout of (pastHangouts$|async)" class="list-group-item">
                              <a href="/" class="btn btn-outline-dark btn-block">{{hangout?.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>