<div class="row justify-content-center">
    <div class="col">
        <div class="row m-3">
            <div class="col">
                <app-join-hangout></app-join-hangout>
                <app-new-hangout-card></app-new-hangout-card>
            </div>

        </div>
        <div class="row m-3">
            <div class="col-md-6">
                <app-active-hangouts-card></app-active-hangouts-card>
            </div>
            <div class="col-md-6">
                <app-past-hangouts-card></app-past-hangouts-card>
            </div>
        </div>
    </div>
</div>