<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h4 class="card-header">Forgot Password</h4>
        <div class="card-body">
          <app-loading-spinner *ngIf="loading"></app-loading-spinner>
          <form *ngIf="!loading" [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
            <div class="form-group m-3">
              <label for="username" class="mb-1">Email</label>
              <input placeholder="Enter your email" type="email" formControlName="username" class="form-control"/>
              <div *ngIf="f.username.touched && f.username?.invalid" class="text-danger">
                  <div *ngIf="f?.username?.errors?.required">Email is required</div>
                  <div *ngIf="f?.username?.errors?.email">Invalid email format</div>
              </div>
            </div>
            <button type="submit" class="btn btn-dark btn-block mx-3 mb-3">Reset Password</button>
          </form>
        </div>
      </div>
      <p class="text-center mt-3">Remember your password? <a routerLink="/login">Login</a></p>
    </div>
  </div>
</div>